<div class="border-top pt-3">
  <h2>All Posts</h2>
</div>

<ul class="post-list">
  {{#each posts as |post|}}
  <li class="border border p-2 mt-4">
    {{> postElement post }}
  </li>
  {{/each}}
</ul>