/* Main template Styling */
#titleEle {
  font-size: 3rem;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#mainContainer {
  background-color: rgb(255, 255, 255);
}

#navbarElement {
  background-color: rgb(210, 241, 211);
}


/* Login view styling */

#loginBtn, #signupRedirectBtn {
  color: white;
  font-size: larger;
  text-decoration: underline;
}

/* Effectively hides post id <p> tag on dashboard, color needs to match #mainContainer*/
#hiddenID {
  color: rgb(255, 255, 255);
}