/* Main template Styling */
#mainContainer {
  background-color: rgb(255, 255, 255);
}

#navbarElement {
  background-color: rgb(175, 175, 175);
}


/* Login view styling */

#loginBtn, #signupRedirectBtn {
  color: white;
  font-size: larger;
  text-decoration: underline;
}